.main {
  min-height: 90vh;

  .main__title {
    text-align: center;
    font-size: 2.5rem;
  }

  .puzzles {
    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;

      .puzzle__item {
        display: flex;
        width: 50vw;
        height: 20vh;
        margin: 1rem 0;
        box-shadow: 8px 9px 26px -8px rgba(0, 0, 0, 0.68);

        .puzzle__img {
          flex-basis: 30%;
          height: 100%;
          object-fit: cover;
        }

        .puzzle__info {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          flex-basis: 70%;
          text-align: center;

          .info__button {
            color: $primary-color;
            background-color: #fff;
            border-radius: 10px;
            width: 30%;
            font-weight: 700;
            font-size: 1.2rem;
            padding: 0.3rem;
            margin: 0 auto;
            box-shadow: 2px 5px 16px 0px #0b325e;

            &:hover {
              background-color: $primary-color;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .puzzle__item {
    width: 100vw !important;
  }
}

// @media only screen and (max-width: 612px) {
//   .info__button {
//     width: 50% !important;
//   }
// }

@media only screen and (max-width: 612px) {
  .puzzle__info {
    .puzzle__title {
      font-size: 12px;
    }
    .puzzle__difficulty {
      font-size: 10px;
    }
    .info__button {
      font-size: 12px !important;
      width: 90% !important;
    }
  }
}

// @media only screen and (max-width: 612px) {
//   .puzzle__item {
//     flex-direction: column;

//     .puzzle__img {
//       width: 50%;
//     }
//   }
// }
